fastapi
fastapi[standard]
sqlalchemy
asyncpg
pydantic[email]
google-auth
google-api-python-client
google-cloud-storage
qrcode
qrcode[pil]
PyJWT
httpx
aioapns
aiosmtplib
jinja2
tzdata
python-dotenv
plotly