{% extends "base_email.html" %}
{% from 'components/button.html' import button %}
{% from 'components/buy_for_others.html' import buy_for_others %}
{% block content %}
<h1 style="text-align: center">Hey {{ name }},</h1>
<p>
    Congratulations! Your application to Drop Dead Disco has been <b>approved</b>.
</p>
<p>
    You're now part of a curated community of music lovers.
    You can purchase tickets to all our upcoming events.
</p>
{% if event_name and event_url %}
<p>
    <b>{{ event_name }}</b> is coming up. Get your ticket now by signing into your account:
</p>
{{ button("get your ticket", event_url) }}
{{ buy_for_others() }}
{% else %}
<p>
    We have no scheduled events right now, but you'll be the first to know when we announce the next one.
</p>
<p>
    Meanwhile, you can check out past events in our website, or listen to our curated playlists. Tap the logos below for
    more.
</p>
{% endif %}
<p style="color: #aaa; text-align: center">
    See you on the dancefloor.
</p>
{% endblock %}