<div style="justify-items: center; width: 100%;">
    <div
        style="font-family: arial; max-width: 600px; padding: 10px 20px; line-height: 1.6; font-size: 14px; background-color: #f3f4f6; border-radius: 24px;">
        <div style="display: none; max-height: 0px; overflow: hidden;">
            {{ preheader_text }} <br>
        </div>
        {% block content %}
        {% endblock %}
        <table role="presentation" cellpadding="0" cellspacing="0" border="0" align="center" width="100%" height="40px">
            <tr>
                <td valign="middle" align="center">
                    <a href="https://dropdeadisco.com/">
                        <img src="https://storage.googleapis.com/dropdeadisco/images/logo_black.png"
                            alt="Drop Dead Disco Logo" style="display:block;" width="30px">
                    </a>
                </td>
                <td valign="middle" align="center">
                    <a href="https://instagram.com/dropdeadisco">
                        <img src="https://storage.googleapis.com/dropdeadisco/images/instagram.png" alt="Instagram"
                            style="display:block;" width="25px">
                    </a>
                </td>
                <td valign="middle" align="center">
                    <a href="https://open.spotify.com/user/4tqtnbljmj15sta3zq3dq6d1v?si=9924a870e02f4add"
                        target="_blank">
                        <img src="https://storage.googleapis.com/dropdeadisco/images/spotify.png" alt="Spotify"
                            style="display:block;" width="25px">
                    </a>
                </td>
                <td valign="middle" align="center">
                    <a href="https://www.youtube.com/@dropdeadisco" target="_blank">
                        <img src="https://storage.googleapis.com/dropdeadisco/images/youtube.png" alt="Youtube"
                            style="display:block;" width="25px">
                    </a>
                </td>
            </tr>
        </table>
        <div style="color: #686868; text-align: center; font-size: 12px;">

            {% if unsubscribe_url %}
            <p>
                You received this email because you have an account with Drop Dead Disco. Don't want these?
                <a href="{{ unsubscribe_url }}">Unsubscribe</a>
            </p>
            {% else %}
            <p>
                You received this email to notify you about your transactions or changes in your account.
            </p>
            {% endif %}

            <p>
                Drop Dead Disco<br>
                Yerevan, Armenia
            </p>
        </div>
    </div>
</div>