{% extends "base_email.html" %}
{% from 'components/button.html' import button %}
{% block content %}
<h1 style="text-align: center">{{ name }},</h1>
<p>
    Your ticket purchase for <b>{{ event_name }}</b> has been confirmed. Thank you for trusting us, we truly appreciate
    it.
</p>
<p>
    Sign in to Drop Dead Disco to see your ticket. <b>Add it to Google/Apple Wallet</b> to get updates.
</p>
{{ button("see your ticket", homepage_url) }}
<h2 style="text-align: center">{{ event_name }}</h2>
<p>
    Date: <b>{{ event_date }}</b><br>
    Time: <b>{{ start_time }}</b> - <b>{{ end_time }}</b><br>
    Location: <i><b>{{ location | default('Yerevan. Exact location will appear on your ticket the day before the
            event.', true)
            }}</b></i><br>
</p>
{% if google_maps_link and yandex_maps_link %}
<table role="presentation" cellspacing="20" cellpadding="0" border="0" align="center">
    <tr>
        <td>
            <a href="{{ google_maps_link }}">
                <img src="https://storage.googleapis.com/dropdeadisco/images/google_maps.png" alt="Google Maps"
                    style="width: 50px; height: 50px; object-fit: scale-down;">
            </a>
        </td>
        <td>
            <a href="{{ yandex_maps_link }}">
                <img src="https://storage.googleapis.com/dropdeadisco/images/yandex_navi.png" alt="Yandex Maps"
                    style="width: 50px; height: 50px; object-fit: scale-down;">
            </a>
        </td>
    </tr>
</table>
{% endif %}
<p style="color: #aaa; text-align: center">
    See you on the dancefloor.
</p>
{% endblock %}