{% extends "base_email.html" %}
{% from 'components/button.html' import button %}
{% from 'components/buy_for_others.html' import buy_for_others %}
{% block content %}
<h2 style="text-align: center">{{ event_name }}</h2>
{{ description | default('', true) }}
<p>
    🗓️ Date: <b>{{ event_date }}</b><br>
    🕜 Time: <b>{{ start_time }}</b> - <b>{{ end_time }}</b><br>
    📍 Location: <b>Yerevan. </b>Exact location will appear on your ticket one day in advance.
</p>
<p>
    <b>Tickets:</b><br>
    🪪 Members | <b>{{ member_price }}</b><br>
    🦜 Early bird | <b>{{ early_bird_price }}</b> (first 40 tickets)<br>
    🎟️ General admission | <b>{{ standard_price }}</b>
</p>

{{ button("info & tickets", event_url) }}
{{ buy_for_others() }}
<p style="color: #aaa; text-align: center">
    See you on the dancefloor.
</p>
{% endblock %}