{% extends "base_email.html" %}
{% from 'components/button.html' import button %}
{% block content %}
<h1 style="text-align: center">Hey {{ name }},</h1>
<p>
    You wanted to buy a ticket. We got you.
</p>
<p>
    Here's your purchase link for <b>{{ event_name }}</b>. For the privacy and security of everyone involved, it will
    expire in 15 minutes. You can request a new one after that.
</p>
{{ button("buy your ticket", payment_link) }}
<p style="text-align: center">
    <i>Note: You can buy tickets for yourself and your friends, if they are also verified. Each person's ticket will be
        sent
        to their verified email. <b>Do not share your ticket with anyone.</b></i>
</p>
<p style="color: #aaa; text-align: center">
    See you on the dancefloor.
</p>
{% endblock %}