{% extends "base_email.html" %}
{% from 'components/button.html' import button %}
{% from 'components/buy_for_others.html' import buy_for_others %}
{% block content %}
<h1 style="text-align: center">{{ name }},</h1>
<p>
    It's Christmas, and it's the last weekend of the year. We all want to have fun and say goodbye to 2025 with a
    <b><i>blast</i></b>. This is where we come
    in.
</p>
<h1 style="text-align: center">{{ event_name }}</h1>
<p style="text-align: center;">
    About this event
</p>
{{ description }}
<p>
    If you're reading this - you're already verified, and can buy tickets to any of our events.<br>
</p>
{{ button("get your ticket", buy_ticket_url) }}
{{ buy_for_others() }}
<p style="color: #aaa; text-align: center">
    See you on the dancefloor.
</p>

{% endblock %}