{% extends "base_email.html" %}
{% from 'components/button.html' import button %}
{% from 'components/buy_for_others.html' import buy_for_others %}
{% block content %}
<h1 style="text-align: center">Hey {{ name }},</h1>
<p>
    Looking for your party this weekend?<br>
    We have something you'd want.
</p>
<p style="text-align: center;">
    <b>The next Drop happens tomorrow - this Saturday:</b>
</p>
<h2 style="text-align: center">{{ event_name }}</h2>
{{ description | default('', true) }}
<p>
    Date: <b>{{ event_date }}</b><br>
    Time: <b>{{ start_time }}</b> - <b>{{ end_time }}</b><br>
    Standard ticket price: <b>{{ standard_price }}</b><br>
    Member ticket price: <b>{{ member_price }}</b><br>
    Location: <i><b>Yerevan. </b>You can see the exact location on your ticket.</i><br>
</p>
<p>
    If you're reading this, then you're already verified, and can buy tickets to any of our events.<br>
</p>
{{ button("get your ticket", event_url) }}
{{ buy_for_others() }}
<p style="color: #aaa; text-align: center">
    See you on the dancefloor.
</p>

{% endblock %}